robdyn/*.pyc
sferes2/*.pyc
install/
sferes2/build
sferes2/orientfb*
sferes2/virtual*
sferes2/GS60*
sferes2/.waf*
sferes2/.lock-wscript
sferes2/contact_simu.txt
sferes2/performance_metrics.dat
sferes2/traj_simu.txt
sferes2/test_ofb*
robdyn/.waf*
robdyn/.lock-wscript
robdyn/bld
exp/hexa_supg_hyperneat/hexa_supg_hyperneat_*
compile_all.sh
